<header>
    <a href="{{ path("app_login") }}">Login</a>
    <a href="{{ path("app_register") }}">Register</a>
    <a href="{{ path("create_link_page") }}">Create link</a>
    <a href="{{ path("link_list_page") }}">My links</a>
    <a href="{{ path("profile_page") }}">User Profile</a>
    <a href="{{ path("app_logout") }}">Logout</a>
</header>
